@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bookshelves {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem; /* Added margin for spacing between shelves and booklist */
}

.bookshelf {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}

.booklist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; /* Added flex: 1 to allow booklist to take the remaining space */
}

/* styles.css or your global CSS */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.book-container {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.book-title {
  font-size: 1.5em; /* Larger font size for title */
  font-weight: bold;
}

.book-author {
  font-size: 1em;
  color: #666666; /* Lighter color for author */
}

/* review container */
.review-entry:hover .edit-delete-buttons {
  display: block;
}

.review-container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
}

.review-actions {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.review-container:hover .review-actions {
  display: block;
}

.edit-icon {
  cursor: pointer;
}
