@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bookshelves {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem; /* Added margin for spacing between shelves and booklist */
}

.bookshelf {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}

.booklist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; /* Added flex: 1 to allow booklist to take the remaining space */
}
