@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bookshelves {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem; /* Added margin for spacing between shelves and booklist */
}

.bookshelf {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}

.booklist {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  flex: 1; /* Added flex: 1 to allow booklist to take the remaining space */
}

/* styles.css or your global CSS */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.book-container {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.book-title {
  font-size: 1.5em; /* Larger font size for title */
  font-weight: bold;
}

.book-author {
  font-size: 1em;
  color: #666666; /* Lighter color for author */
}

/* review container */
.review-entry:hover .edit-delete-buttons {
  display: block;
}

.review-container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
}

.review-actions {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.review-container:hover .review-actions {
  display: block;
}

.edit-icon {
  cursor: pointer;
}
/* profpic modal */

.book-detail-container {
  height: 45vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  float: right;
  cursor: pointer;
}

.review-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-card {
  padding: 15px;
  margin-bottom: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.review-card p {
  color: #333;
  line-height: 1.6;
}

.review-card .username {
  font-weight: bold;
  color: #007bff;
}
.review-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.review-card img.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.review-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.review-card button:hover {
  background-color: #0056b3;
}
.review-card .review-content {
  display: flex;
  align-items: center;
}

/* drop down */
.custom-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,..."); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

/* review write a review */
.card-container {
  background-color: #334155; /* White background */
  padding: 20px; /* Spacing inside the card */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.scrollable-div {
  max-height: 80vh;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollable-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollable-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.descriptionText p {
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  /* Additional styling */
}

/* search icon */
.grey-icon {
  color: grey;
}

.book-container {
  width: 615.5px; /* Fixed width */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  margin: 0 auto; /* Center align */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  /* For medium screens */
  .book-container {
    width: 80%; /* Adjust width */
  }
}

@media (max-width: 480px) {
  /* For small screens */
  .book-container {
    width: 95%; /* Adjust width */
  }
}

/* #e63946 */
/* banner for when u remove a book from shelf  */
.alert-banner {
  position: fixed;
  bottom: 20px; /* 20px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  background-color: #e63946; /* Green background color */
  color: white;
  text-align: center;
  padding: 15px;
  z-index: 1000; /* Ensure it appears above other content */
  border-radius: 10px; /* Optional: rounded corners */
  width: 300px; /* Adjust the width as needed */
}

/* //profile hover edit icon */
.profile-card {
  position: relative; /* Ensures child elements can be positioned absolutely within */
}

.edit-icon {
  display: none; /* Hide icon initially */
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer;
}

.profile-card:hover .edit-icon {
  display: block; /* Show icon on hover */
}

.edit-icon {
  color: grey;
}

/* //popular books */
.book-list {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.book {
  flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
  margin-right: 20px; /* Space between books */
  width: 200px; /* Adjust width as needed */
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book img {
  width: 100%; /* Make image take full width of the card */
  height: auto;
}

.book-title {
  margin-top: 10px;
  font-size: 1em;
}

.book-author {
  font-size: 0.8em;
  color: grey;
}

/* scroll on horizontal carousel  */
.category-section {
  /* ... existing styles ... */
  position: relative;
  /* This will allow absolute positioning within the section */
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%; /* Align vertically in the middle */
  transform: translateY(-50%); /* Adjust for exact center alignment */
  cursor: pointer; /* To show a pointer cursor on hover */
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 50%; /* Makes the button round */
  width: 40px; /* Sets the width of the button */
  height: 40px; /* Sets the height of the button */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1a1aa; /* Button background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: none; /* Removes any border */
}
.left-arrow .fa-chevron-left,
.right-arrow .fa-chevron-right {
  font-size: 20px; /* Adjust the font size of the icon as needed */
  color: white; /* Icon color */
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 5px; /* This should now work correctly */
  transform: translateY(-50%);
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjusts the right arrow's position from the right edge */
  transform: translateY(-50%);
}

.category-section:hover .left-arrow,
.category-section:hover .right-arrow {
  opacity: 1;
  visibility: visible;
}

/* blurry on the arrows */
.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7; /* Adjust the opacity as needed */
  transition: opacity 0.3s ease; /* Add a transition effect for a smooth fade */
}

.arrow-button:hover {
  opacity: 1; /* Increase opacity on hover */
}

/* Style for faded/greyed out books */
.faded-book {
  opacity: 0.5; /* Adjust opacity to control the degree of fading */
}

/* scrollbar homepage */
Styles the scrollbar track ::-webkit-scrollbar-track {
  background: transparent; /* or any color */
}

/* Styles the scrollbar itself */
::-webkit-scrollbar {
  width: 4px; /* Adjust the width to make it skinnier */
  height: 2px; /* For horizontal scrollbars */
}

/* Styles the handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5); /* Faded grey color */
  border-radius: 4px; /* Optional: for rounded corners */
}

/* Styles the handle (thumb) on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8); /* Darker grey on hover */
}

/* ---------------------------------------- dark mode ----------------------------------------*/

/* light mode */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: #007bff;
  /* ... other colors */
}

/* dark mode */
.dark-mode {
  --bg-color: #f9f9fb;
  --text-color: #fff;
  --primary-color: #5468c0;
  --secondary-color: #92a0e7;
  /* ... other colors */
}

/* light-theme.css */



body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* mobile view navbar */
@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide menu by default on mobile */
  }

  .navbar-menu.open {
    display: block; /* Show menu when open */
  }

  /* Adjust other navbar styles for mobile as needed */
}

.search-bar {
  z-index: 5;
}

/* remove from shelf? */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #6b7280;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120px/2) */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* 
home navbar mobile */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: rgba(30, 41, 59, 0.93); /* Adjust opacity as needed */
  z-index: 10; /* Ensure it's above other content */
  display: none;
  align-items: center;
  justify-content: center;
}

.menu-overlay.open {
  display: flex; /* Show the menu as a flex container */
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  transform: translateX(0);
}

.menu-item {
  display: block; /* Each item takes full width */
  width: 100%; /* Full width of the container */
  padding: 15px 0; /* Generous padding for easy touch */
  margin: 10px 0; /* Add some vertical spacing */
  text-align: center; /* Center the text */
  font-size: 18px; /* Larger font size for readability */
  font-weight: bold; /* Make the text stand out */
  color: white; /* Text color */
  border-radius: 5px; /* Slight rounding of corners */
  transition: background-color 0.3s ease;
}

.menu-item:hover,
.menu-item:focus {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slight highlight on hover/focus */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 18px; /* Larger icon for easy clicking */
  color: white; /* Icon color */
  cursor: pointer; /* Cursor indication for clickable element */
}

/* .power-hover:hover .faPowerOff {
  color: red;
} */

/* dark mode */

/* Converted from SCSS to CSS */

.toggle {
  --size: 2rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);
  transition: all 500ms;
}

.toggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  color: hsl(40, 100%, 50%);
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.toggle:checked ~ .background {
  --bg: white;
}

.toggle:checked ~ .title {
  --color: hsl(40, 100%, 50%);
}

.title {
  --color: hsl(240, 100%, 95%);
  color: var(--color);
  z-index: 1;
  cursor: pointer;
  display: block;
  padding: 0.5rem 0 0;
  transition: color 500ms;
}

/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: rgb(71 85 105);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  width: 200px;
  position: fixed;
  right: -162px;
  z-index: 1000;
  font: bold normal 10px Arial;
  transition: all 0.25s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: rgb(156 163 175);
  text-decoration: none;
  line-height: normal;
  margin-left: 10px;
}

.fl-fl a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.fl-fl .svg-inline--fa {
  font-size: 20px;
  color: #fff;
}

.float-fb {
  top: 171px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 260px;
}

.float-rs {
  top: 375px;
}

.float-ig {
  top: 440px;
}

.float-pn {
  top: 500px;
}

/* Floating Social Media Bar Style ENDS Here */

.book-card:hover {
  cursor: pointer;
}
